{% extends "admintemplates/base.html" %}
{% load static %}
{% block content %}
<h3>Home Tuition System List</h3>
<a href="{% url 'hometuitionsystemapp:adminhometuitionsystemcreate' %}">Add System</a>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{% for hometuitionsystem in adminhometuitionsystemlist %}
		<tr>
			<td><li><a href="{% url 'hometuitionsystemapp:adminhometuitionsystemdetail' hometuitionsystem.pk %}">{{hometuitionsystem.name}}</td></a></li>
			<td><a class="btn btn-info" href="{% url 'hometuitionsystemapp:adminhometuitionsystemupdate' hometuitionsystem.pk %}">Update</a></td>
			<td><a class="btn btn-info" href="{% url 'hometuitionsystemapp:adminhometuitionsystemdelete' hometuitionsystem.pk %}">Delete</a></td>

		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}