{% extends "admintemplates/base.html" %}
{% load static %}
{% block content %}
<h3>Home Tuition System List</h3>
<a href="{% url 'hometuitionsystemapp:adminhometuitionsystemcreate' %}">Add System</a>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{% for hometuitionsystem in adminhometuitionsystemlist %}
		<tr>
			<td><li><a href="{% url 'hometuitionsystemapp:adminhometuitionsystemdetail' hometuitionsystem.pk %}">{{hometuitionsystem.name}}</td></a></li>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}